In [10]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
pd.set_option('max_colwidth', 400)

In [14]:
datascience_df = pd.read_csv("Resources/v5_Latest_Data_Science_Salaries.csv")
datascience_df.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Staff Data Analyst,Contract,Entry,Junior,60000,Canadian Dollar,Canada,44753,Canada,Large,2020
1,AI Engineer,Full-Time,Entry,Junior,35000,United States Dollar,Germany,35000,Croatia,Medium,2023
2,AI Developer,Full-Time,Senior,Expert,50000,Euro,Italy,53984,Italy,Small,2023
3,Machine Learning Engineer,Full-Time,Senior,Expert,226600,United States Dollar,United States,226600,United States,Medium,2023
4,Machine Learning Engineer,Full-Time,Senior,Expert,140100,United States Dollar,United States,140100,United States,Medium,2023

In [32]:
datascience_df.groupby("Experience Level")["Job Title"].value_counts()

Experience Level  Job Title
Entry             Data Scientist                     69
                  Data Analyst                       67
                  Data Engineer                      44
                  Machine Learning Engineer          20
                  Research Scientist                 15
                                                     ..
Senior            Manager Data Management             1
                  Principal Data Analyst              1
                  Principal Data Architect            1
                  Product Data Analyst                1
                  Staff Machine Learning Engineer     1
Name: Job Title, Length: 247, dtype: int64

In [21]:
datascience_df.value_counts()

Job Title                        Employment Type  Experience Level  Expertise Level  Salary  Salary Currency         Company Location  Salary in USD  Employee Residence  Company Size  Year
AI Architect                     Full-Time        Executive         Director         200000  Euro                    United States     215936         Belgium             Large         2023    1
Data Scientist                   Full-Time        Senior            Expert           134024  United States Dollar    United States     134024         United States       Medium        2023    1
                                                                                     135000  United States Dollar    United States     135000         United States       Large         2021    1
                                                                                                                                                                          Medium        2022    1
                                                                                                                                                                                        2023    1
                                                                                                                                                                                               ..
Data Engineer                    Full-Time        Mid               Intermediate     60400   United States Dollar    United States     60400          United States       Medium        2023    1
                                                                                     61500   Euro                    France            70139          France              Large         2020    1
                                                                                     62000   British Pound Sterling  United Kingdom    76284          United Kingdom      Medium        2023    1
                                                                                             Euro                    France            65141          France              Medium        2022    1
Staff Machine Learning Engineer  Full-Time        Senior            Expert           185000  United States Dollar    United States     185000         United States       Medium        2021    1
Length: 3951, dtype: int64